<body>

  <div><button (click)="goToAdd()">Add</button></div>
  <div class="shearch">

  </div>
  <input type="text" placeholder="Search"[(ngModel)]="inputValue" (keyup.enter)="search()" />
  <table mat-table>
    <tr mat-header-row>
      <th mat-header-cell *ngFor="let header of headers">
        {{ header }}
      </th>
    </tr>
    <tr *ngFor="let entity of entities">
      <td mat-cell *ngFor="let key of keys">{{ entity[key] }}</td>
      <td>
        <button class="edit" type='button'(click)="editEntity(entity.id)">Edit</button>
        <button class="delete" (click)="onDeleteEntity(entity.id)">Delete</button>
      </td>
    </tr>
  </table>

</body>

<!-- <div class="container">
  <br/>
  <div>
    <input type="text" [(ngModel)]="inputValue" (keyup.enter)="search()" />
    <button (click)="goToAdd()">Add</button>
    </div>

<br/>
<table class="table table-striped">
  <tr class="title-table">
    <th *ngFor="let header of headers">
      {{ header }}
    </th>
  </tr>
  <tr *ngFor="let entity of entities">
    <td *ngFor="let key of keys">{{ entity[key] }}</td>
    <td>
      <button (click)="editEntity(entity.id)">Edit</button>
      <button (click)="onDeleteEntity(entity.id)">Delete</button>
    </td>
  </tr>
</table>
</div> -->
